<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmGqN-LwzzRXHu2SYSCuVE8KGZmlGgD-c</string>
	<key>GCM_SENDER_ID</key>
	<string>222912676291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.rajeshadhikari.rentMechine</string>
	<key>PROJECT_ID</key>
	<string>rent-machine-3dddc</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-machine-3dddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222912676291:ios:3e1c9ec49b894653e63d76</string>
	<key>DATABASE_URL</key>
	<string>https://rent-machine-3dddc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>